/* Web font */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');


*{
    box-sizing: border-box;
}

body {
    background: #DfDfDf;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

h3,
h2 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
}

a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

/* class */

.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.name {
    font-family: 'Raleway', sans-serif;
    color: crimson;
    font-size: 2em;
    text-align: center;
}

.nav {
    font-size: 0.96em;
    text-align: center;
}

.nav li {
    display: list-item;
    background: lightgrey;
    margin: 5px;
    padding: 0.85em;
}

.profile-photo {
    width: 70%;
    margin: auto;
    padding-top: 2em;
}

.intro {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

.portfolio {
    background: white;
    padding-top: 1em;
}

.portfolio h2 {
    padding-bottom: 1em;
    text-transform: uppercase;
    font-size: 1em;
}

.portfolio h3 {
    font-size: 1em;
}

.portfolio p {
    padding-bottom: 1em;
}

.contact {
    padding: 5em;
    text-align: center;
}

.contact h3 {
    padding-bottom: 1em;
}

.footer-nav {
    border-top: solid gray 2px;
    margin: 0 10px;
}

.footer-name {
    float: left;
}
 
.top {
    float: right;
}


.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* Media Queries */

@media (min-width: 768px) {
    
    .nav li  {
        display: inline-block;
        text-align: center;
        float: none;
    }

    p {
        font-size: 1.2em;
    }

    .name {
        padding: 1em;
        font-size: 1.6em;
    }

    .container {
        width: 95%;
        margin: 0 auto;
    }

    .col {
        width: 50%;
        float: left;
        padding: 1em;
        margin: auto;
    }

    .portfolio {
        padding: 1em;
    }

    .profile {
        padding-bottom: 3em;
    }

    .profile-photo {
        float: right;
        width: 40%;
        padding-left: 1em;
    }

    .intro {
        text-align: left;
        line-height: 1.55em;
    }

    .top {
        display: none;
    }

    .hidden-nav {
        display: inline-block;
        float: right;
      }
    }
    
    .hidden-nav li {
      float: left;
      padding-top: 1em;
    }

    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }


    @media (min-width: 1024px) {

    p {
      font-size: 1.5em;
    }
    .intro {
      float: left;
      width: 40%;
    }
    .profile-photo {
      width: 40%;
      float: right;
    }
    .name {
      font-size: 1.5em;
      float: left;
    }
    .profile {
      padding-bottom: 5em;
    }
    .nav {
      float: right;
      padding-top: 2em;
      margin-right: 0;
    }
    .col {
      width: 32%;
    }
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

}